.admin__nav-wrapper-top {
    column-gap: 3rem;
}

.admin__nav-top-right {
    column-gap: 2rem;
}

.admin__nav-top-right span i {
    color: whitesmoke;
    cursor: pointer;
    font-size: 1.6rem;
}

.admin__nav-badge {
    background-color: whitesmoke;
    font-weight: 500;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50px;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    top: -80%;
    left: 60%;
}

.search__box input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search__box button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search__box button:hover {
    background: whitesmoke;
}

.admin__menu {
    background: var(--card-bg-02);
}

.admin__menu-list {
    column-gap: 3rem;
}

.admin__menu-item a {
    color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.active__admin-menu {
    background: whitesmoke;
}