.filter__widget select:focus {
    outline: none !important;
}

.filter__widget select option {
    font-size: 1.4rem;
}

/* Pagination */
.page-ul {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.page-ul li {
    border-right: 1px solid #ccc;
}

.page-ul li:last-child {
    border-right: none;
}

.page-ul li a {
    display: block;
    padding: 8px 10px;
    user-select: none;
    -webkit-user-select: none;
}

.selected {
    background-color: var(--primary-color);
    color: #fff;
}

.disabled {
    color: #ddd;
}
/* === End pagination */

@media screen and (max-width: 768px) {
    .filter__widget {
        margin-bottom: 30px;
    }

    .filter__widget select {
        padding: 7px;
    }

    .shop__filter, .shop__products {
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 640px) {
    .filter__widget {
        margin-bottom: 10px;
    }
}