.footer {
    background-color: #f5f5f5;
    border-top: 3px solid var(--primary-color);
    margin-top: 20px;
}

.footer-link {
    background-color: #f8f9fa;
    padding-bottom: 20px;
    font-size: 1.4rem;
}

.footer-info {
    padding: 6px 0 10px;
}

.footer__me,
.footer__copyright,
.footer__tax-code,
.footer__address,
.footer__name {
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, .6);
    font-size: 1.4rem;
    margin-top: 4px;
}

.footer__me a {
    color: rgba(0, 0, 0, .6);
    padding: 0 3px;
}

.footer__me i {
    font-size: 1.6rem;
}

.footer-col-1,.footer-col-2,.footer-col-3 {
    margin-top: 20px;
}

.footer-col-1 span {
    display: block;
    margin: 10px 0;
}

.footer-col-2 {
    width: 50%;
    float: left;
}

.footer-col-2 li {
    display: block;
    margin-bottom: 10px;
}

.footer-col-2 a {
    color: var(--primary-color);
}

.footer-social-link img {
    width: 30px;
    margin: 10px 10px 20px 0;
}