/* Header top */
.header__background {
    background-color: rgb(237, 237, 237);
    height: var(--header-height);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    align-items: center;
}

.header-mobile-user {
    display: none;
}

.header__top-list {
    display: flex;
    align-items: center;
}

.header__top-item {
    display: flex;
    align-items: center;
}

.header__top-item:first-child {
    padding-right: 20px;
}

.header__top-item:last-child {
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.header__top-item-link {
    color: transparent;
    margin-left: 16px;
}

.header__top-item-icon {
    font-size: 1.3rem;
    margin-right: 8px;
}

.header__top-item-social {
    width: 16px;
}

.header__top-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__top-item b {
    font-size: 1.6rem;
    font-family: 'Antonio';
}

.header-user {
    color: var(--black-color);
}

/* Header navbar */
.header__navbar {
    align-items: center;
    height: 80px;
}

.header__navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar-list {
    display: flex;
    flex: 1;
}

.header__navbar-item {
    margin-right: 40px;
}

.header__navbar-item:hover .header__navbar-item-link {
    color: var(--primary-color);
}

.header__navbar-item--active .header__navbar-item-link {
    color: var(--primary-color);
}

.header__navbar-item-link {
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.6rem;
}

/* .header__navbar-cart {
    width: 250px;
    text-align: right;
}

.header__navbar-cart-label {
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__navbar-cart-icon {
    font-size: 1.8rem;
}

.header__navbar-cart-total {
    font-weight: 700;
    font-size: 1.3rem;
}

.header__navbar-cart-link {
    color: var(--text-color);
    position: relative;
    margin-right: 15px;
}

.header__navbar-cart-quantity {
    position: absolute;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 1.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    font-size: .8rem;
    font-weight: 700;
    left: 15px;
    bottom: 100%;
} */

/* .header__navbar-banner img {
    height: 55px;
    display: block;
} */

/* Header with search */
.header__category {
    position: relative;
    box-shadow: var(--default-shadow);
}

.header__category-title {
    font-size: 1.8rem;
    font-weight: 700;
    height: var(--search-bar-height);
    color: var(--white-color);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__category-title span {
    margin: 0 10px;
}

.header__category-list-container {
    box-shadow: var(--default-shadow);
    height: 430px;
    transform-origin: top;
    transition: height linear .3s;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fff;
    z-index: 1;
}

.header__category-list {
    list-style: none;
    padding: 10px 0;
    background-color: #fff;
}

.header__category-item {
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header__category-item a {
    color: var(--text-color);
    font-size: 1.4rem;
    transition: font-size linear .1s;
}

.header__category-item a:hover {
    color: var(--primary-color);
}

.header__category-item:hover .header__category-child {
    visibility: visible;
    opacity: 1;
}

.header__category-child::before {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 20px;
    left: -19px;
}

.header__category-child {
    position: absolute;
    left: calc(100% + 1px);
    top: 0;
    background-color: #fff;
    box-shadow: var(--default-shadow);
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear .1s, visibility linear .1s;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__category-child-list {
    width: 180px;
}

.child-item--head span {
    font-weight: 500;
    font-size: 1.5rem;
    border-bottom: 2px solid #ddd;
    cursor: default;
    display: block;
    width: 100%;
}

.header__category-child-item, .header__category-child-item-head {
    padding: 10px 12px;
}

.header__with-search-right {
    display: flex;
    height: var(--search-bar-height);
}

.header__with-search-bar {
    display: flex;
    align-items: center;
    box-shadow: var(--default-shadow);
    border-radius: 2px;
    position: relative;
    flex: 1;
}

.header__with-search-input {
    border: none;
    outline: none;
    padding: 8px 16px;
    font-size: 1.4rem;
    flex: 1;
}

.header__with-search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    z-index: 1;
    padding: 8px 0;
    box-shadow: var(--default-shadow);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
}

.header__search-history a {
    padding: 6px 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}

.header__search-history a:hover {
    background-color: #f5f5f5;
}

.header__with-search-btn {
    width: 100px;
    height: var(--search-bar-height);
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: var(--default-shadow);
}

.header__with-search-btn span {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: var(--search-bar-height);
    display: block;
}

.header__with-search-cart {
    display: flex;
    align-items: center;
}

.header__with-search-cart-btn {
    width: 120px;
    position: relative;
    text-align: center;
}

.header__with-search-cart-btn a {
    color: var(--text-color);
}

.header__with-search-cart-btn i {
    font-size: 2.6rem;
    cursor: pointer;
}

.header__with-search-cart-btn span {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 2rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    right: 25%;
    bottom: 80%;
}

/* .header__with-search-contact-icon {
    width: var(--search-bar-height);
    height: var(--search-bar-height);
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
    line-height: var(--search-bar-height);
    margin-left: 20px;
}

.header__with-search-contact-icon i {
    font-size: 1.4rem;
}

.header__with-search-contact-phone {
    color: var(--text-color);
    height: var(--search-bar-height);
    display: flex;
}

.header__with-search-contact-phone span {
    font-size: 1.4rem;
    line-height: var(--search-bar-height);
    margin-left: 8px;
} */

.header__banner {
    margin-top: 10px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.header__banner-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 420px;
    filter: blur(4px);
}

.header__banner-label {
    position: absolute;
    top: 60%;
    left: 10%;
    color: white;
    text-shadow: 3px 3px 6px #000;
    cursor: default;
}

.header__banner-label span {
    font-size: 2rem;
    font-weight: 500;
}

.header__banner-label h2 {
    font-size: 3.2rem;
    margin-top: 5px;
}