.product {
    margin: 20px 0;
}

.product__category-list {
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 2px;
    box-shadow: var(--default-shadow);
}

.product__category-item {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: all linear .125s;
}

.product__category-item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product__category-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: transparent;
}

.product__category-item-link span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
   	-webkit-line-clamp: 1;
    overflow: hidden;
    margin-top: 10px;
}

.product__category-item-img {
    width: 80%;
    display: block;
    background-color: #f8f9fa;
    border-radius: 50%;
}

.product-banner,
.product__category,
.product-container {
    margin: 10px 0;
}

.product-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
}

.label {
    color: red;
    font-size: 2.4rem;
    font-weight: 500;
}

.see-more {
    font-size: 1.4rem;
    color: var(--primary-color);
    cursor: pointer;
}

.product-item {
    padding: 0 8px;
}

.product-item-link {
    display: block;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0;
    overflow: hidden;
    color: var(--text-color);
    text-decoration: none;
    margin-top: 8px;
    position: relative;
    transition: all linear .125s;
}

.product-item-link:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-item__head {
    position: relative;
}

.product__img img {
    width: 100%;
    transition: transform linear .2s;
}

.product__name {
    overflow: hidden;
}

.product__name h1 {
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
   	-webkit-line-clamp: 2;
}

.product__price {
    padding: 8px 0;
}

.product__price-old {
    text-decoration: line-through;
    font-size: 1.4rem;
    margin-right: 5px;
}

.product__price-current {
    color: red;
    font-size: 2rem;
    font-weight: 500;
}

.product__ribbon {
    background-color: red;
    display: inline-block;
    padding: 4px 8px;
    color: #fff;
    position: absolute;
    bottom: calc(0px + 10px);
    font-size: 1.3rem;
    border-radius: 4px;
}

.product__ribbon.APR {
    bottom: calc(0px + 40px); 
    background-color: rgba(255, 210, 30, 0.9);
}

.product__warranty {
    position: absolute;
    width: 90px;
    top: 0;
    right: 0;
}

.product-banner-img {
    border-radius: 2px;
    width: 100%;
    box-shadow: var(--default-shadow);
}

.product-info {
    background-color: #f8f9fa;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px;
}

.product-info ul {
    list-style-type: circle;
    margin-left: 12px;
}

.product-info li {
    font-size: 1.3rem;
    margin-bottom: 4px;
}

.product-info span {
    font-size: 1.5rem;
}