@tailwind components;

@layer components {
    .navlink {
        @apply text-333 font-bold text-16 hover:text-primary md:max-lg:text-20;
    }
}

.profile {
    position: relative;
    z-index: 9;
}

.profile .profile__actions {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    z-index: 10;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--card-bg-01);
    line-height: 30px;
    display: none;
    cursor: pointer;
    border-radius: 5px;
}

.profile img {
    border: 1px solid var(--primary-color);
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.show__profile-actions {
    display: flex !important;
}

.sticky__header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: #f8f9fa;
}

.header__badge {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 2rem;
    background-color: #302972;
    color: #fff;
    border-radius: 50px;
    font-size: 1rem;
    left: 50%;
    bottom: 80%;
    font-weight: 700;
}

@media only screen and (max-width: 1023px) {
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.53);
        z-index: 999;
        transition: all linear .2s;
        overflow: hidden;
    }

    .active__menu {
        width: 100%;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: #fff;
        z-index: 9999;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}