@tailwind base;
@tailwind components;

:root {
    --primary-color: #302972;
    --card-bg-01: #fdefe6;
    --card-bg-02: #d6e5fb;
    --card-bg-03: #ceede9;
    --card-bg-04: #e2f2b2;
}

@media (min-width: 1024px) and (max-width: 1220px) {
    .header, .content, .footer, .counter, .shop__filter, .shop__products {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (max-width: 768px) {
    .header, .content, .footer, .counter {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@layer base {
    body {
        @apply font-roboto text-13 !leading-tight;
    }
    html {
        @apply scroll-smooth text-[62.5%];
    }
    * {
        @apply m-0 p-0 box-border;
    }
    table, th, td {
        @apply border-b border-gray-300;
    }
    th {
        @apply text-14 pb-2;
    }
}

@layer components {
    .wid-1200 {
        @apply max-w-[1200px] my-0 ml-auto mr-auto md:max-lg:w-[644px];
    }
    .active {
        @apply !text-primary;
    }
    .buy__btn {
        @apply px-3 py-4 font-semibold text-14 rounded-lg
    }
}